body{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);
}

.loading{
    animation: is-rotating 1s infinite;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
}

@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}
