body {
  display: flex;
  background-color: #e0e0e0;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.home-main {
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 30px rgba(0, 0, 0, 0.1);
  height: 432px;
  margin: auto;
  width: 768px;
  padding: 60px;
  position: relative;
}

.button {
  background-color: #23a6d5;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  max-width: 210px;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 90ms ease-in;
  margin-top: 15px;
}

.button:hover {
  opacity: 0.75;
  transition: all 90ms ease-out;
}

button:active {
  transform: translateY(1.5px);
}

.card {
  color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex: 0.6;
  height: 100%;
  width: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  position: absolute;
  padding: 30px 60px;
}

.card-instagram {
  background: linear-gradient(
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
.card-linkedin {
  background-color: #0e76a8;
  clip-path: circle(0% at 710px 85%);
}

.button-linkedin {
  background-color: #fff !important;
  color: #000;
}

.card-github {
  background-color: #333;
  clip-path: circle(0% at 785px 85%);
}
.button-github {
  background-color: #fff !important;
  color: #000;
}
.card-twitter {
  background: linear-gradient(#36d8ff, #00acee, #66757f);
  clip-path: circle(0% at 855px 85%);
}
.button-twitter {
  background-color: #fff;
  color: #000;
}

.card-title {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

.title-span {
  display: inline-block;
  flex: 1;
  font-size: 210%;
  font-weight: bold;
  width: 100%;
}

.card-explanation {
  line-height: 1.6;
  margin: 0;
}

.menu {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  position: absolute;
  right: 0;
}

.menu-item {
  margin-left: 20px;
  z-index: z-index(200);
}

.menu-item_instagram {
  position: absolute;
  right: 10px;
  top: 10px;
}
.menu-toggle {
  background: transparent;
  border: 0;
  bottom: 10px;
  cursor: pointer;
  right: 10px;
  padding: 0;
  height: 30px;
  width: 48px;
}
.is-active {
  right: 10px;
  top: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
}
